<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/x-icon" href="{$baseUrl}/favicon.ico" />
	<title>{ifset title}{include title|stripHtml} {/ifset}</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
	{block footer}
		<ul>
			<li>
				<a href="{link TopList:default}">Top list</a>
			</li>
			<li>
				<a href="{link OnlineList:default}">Online players</a>
			</li>
		</ul>
	{/block}
</body>
</html>
