parameters:
	token: put-real-token-into-local-neon
	# w/o a slash at the end of the URL
	apiUrl: https://put.real.url.into.local.neon


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	- App\Services\MupiClient(%apiUrl%, %token%)
	- App\Services\DataProvider\TopList
	- App\Services\DataProvider\OnlineList
